@import "../../variables";
@import "../../mixins";

.container {
  background: black;
  //height: 100vh;
}
.containerContent {
  @include flexRegular(row, flex-start);
  height: 100%;
  //align-items: flex-start;
  background: black;
}
.left {
  width: 55%;
  //background: $testColor;
  img {
    width: 100%;
    height: 100vh;
    display: block;
  }
}
.right {
  width: 45%;
  .rightContent {
    padding: 0 2.5em;
    .logoBox {
      margin-bottom: 1em;
    }
    .rightBody {
      margin-bottom: 1em;
      color: #fff;
      h1 {
        font-family: Ubuntu;
        font-size: 3em;
        font-weight: bolder;
        margin-bottom: 0.5em;
      }
      h2 {
        font-family: Ubuntu;
        font-size: 1.7em;
        font-weight: bolder;
        margin-bottom: 1em;
      }
      button {
        @include buttonRegular($blueBtn, 303px, 42px);
        font-weight: bolder;
        border: 0;
        &:hover {
          @include buttonRegular($blueDark, 303px, 42px);
        }
      }
    }
  }
  .rightBottom {
    .termsBtm {
      font-size: 0.65em;
      color: #6e767d;
      width: 50%;
    }
    span {
      color: $blueTxt;
      cursor: pointer;
    }
    .loginBtm {
      color: #fff;
      font-size: 1em;
      margin: 3em 0 1em 0;
    }
    button {
      @include buttonRegular(none, 303px, 42px);
      border: 1px solid #e4eaed91;
      color: $blueTxt;
      font-weight: bolder;
      &:hover {
        @include buttonRegular(#177bbe49, 303px, 42px);
        color: $blueTxt;
      }
    }
  }
}

//@at-root
.overlay {
  width: 100%;
  position: fixed;
  background: #252d347e;
  //background-color: rgba(0, 0, 0, 0.75);
  /* background: rgba(133, 100, 100, 0.452); */
  z-index: 4;
  width: 100%;
  height: 100vh;
  transition: 0.6s ease-in-out;
}
.modal {
  position: fixed;
  top: 3vh;
  height: 90vh;
  left: 25vw;
  right: 25vw;
  width: 50vw;
  background: #f1f0f0;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 5;
  @include flexRegular(column, flex-start);
  align-items: center;
}

@media (max-width: 1100px) {
  .left {
    width: 65%;
  }
  .right {
    width: 35%;
    .rightContent {
      .rightBody {
        button {
          @include buttonRegular($blueBtn, 25vw, 42px);
        }
      }
    }
    .rightBottom {
      .termsBtm {
        width: 60%;
      }
      button {
        @include buttonRegular(none, 25vw, 42px);
      }
    }
  }
}
@media (max-width: 1100px) {
  .containerContent {
    @include flexRegular(column-reverse, center);
  }
  .left {
    img {
      height: 100%;
    }
  }
  .left,
  .right {
    width: 100%;
    .rightContent {
      padding: 3em 0 5em 0;
      @include flexRegular(column, center);
      align-items: center;
      //background: lavender;
      .rightBody {
        //background: lavender;
        padding: 2em 0 0em 0;
        @include flexRegular(column, center);
        button {
          margin: 1em 0;
          width: 60vw;
          &:hover {
            width: 60vw;
          }
        }
      }
    }
    .rightBottom {
      padding: 0.5em 0 2em 0;
      @include flexRegular(column, center);
      button {
        margin: 1em 0;
        width: 60vw;
        &:hover {
          width: 60vw;
        }
      }
    }
  }
}
@media (max-width: 416px) {
  .right {
    .rightContent {
      .logoBox {
        img {
          width: 60%;
        }
      }
      .rightBody {
        h1 {
          font-size: 2.4em;
        }
        h2 {
          font-size: 1.4em;
        }
      }
    }
  }
}
