@import '../../variables';
@import '../../mixins';
.header {
  position: fixed;
  z-index: 3;
  width: 47%;
  max-width: 600px;
  //   margin-bottom: 1em;
  @include flexRegular(row, space-between);
  border-bottom: 1px solid #2f3336;
  padding: 1.5em 1em;
  background: black;
  color: #fff;
  h1 {
    font-size: 1.3em;
  }
}
.headerPro {
  position: fixed;
  z-index: 3;
  width: 47%;
  max-width: 600px;
  //   margin-bottom: 1em;
  @include flexRegular(row, flex-start);
  border-bottom: 1px solid #2f3336;
  padding: 0.8em 1em;
  background: black;
  color: #fff;
  .back {
    margin-right: 2em;
    img {
      width: 20px;
    }
  }
  h1 {
    font-size: 1.2em;
  }
  p {
    margin: 0.2em 0;
    font-size: 0.9em;
    color: #6e767d;
  }
}
.profileBox {
  position: relative;
}
.coverImgBox {
  height: 290px;
  background: gray;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/*** **/
@media (max-width: 450px) {
  .coverImgBox {
    height: 190px;
  }
}
.avatar {
  position: absolute;
  top: 220px;
  left: 1em;
  width: 120px;
  height: 120px;

  object-fit: cover;
  border-radius: 50%;
  transition: 0.17s ease-in;
}
/*** **/
@media (max-width: 450px) {
  .avatar {
    top: 140px;
    width: 90px;
    height: 90px;
  }
}
.profileDesc {
  margin-top: 0.7em;
  padding: 1em;
  //background: gray;
  .pdTop {
    @include flexRegular(row, flex-end);
    button {
      @include buttonRegular(none, 20%, 42px);
      outline: none;
      border: 1px solid #2f3336;
      font-weight: bolder;
      font-size: 0.97em;
      &:hover {
        @include buttonRegular(rgba(128, 128, 128, 0.24), 20%, 42px);
      }
    }
  }
  .pdBody {
    margin-top: 2.6em;
    .pdnames {
      h1 {
        font-size: 1.2em;
        color: #fff;
      }
      p {
        color: #6e767d;
      }
    }
    .pdl {
      @include flexRegular(row, flex-start);
      margin: -3px 0 0.8em 0;
      p {
        color: #6e767d;
        margin-left: 0.2em;
      }
    }
    .pdBio {
      margin: 0.8em 0;
      color: #fff;
    }
  }
  .pdBtm {
    @include flexRegular(row, flex-start);
    p {
      color: #6e767d;
      margin-right: 2em;
      span {
        font-weight: bolder;
        color: #fff;
        margin-right: 0.5em;
      }
    }
  }
}
/*** **/
@media (max-width: 450px) {
  .profileDesc {
    margin-top: 0;
    .pdTop {
      button {
        margin-top: 0;
        @include buttonRegular(none, 33%, 42px);
        font-size: 0.87em;
      }
    }
    .pdBody {
      margin-top: 0.4em;
    }
  }
}
.tweetTypes {
  .typesTop {
    border-bottom: 1px solid #2f3336;
    //background: gray;
    @include flexRegular(row, flex-start);
    .typeSingle {
      //background: rgb(87, 87, 155);
      @include flexRegular(column, flex-start);
      align-items: center;
      padding: 1em;
      position: relative;
      // margin-right: 1em;
      width: 25%;
      cursor: pointer;
      &:hover {
        background: rgba(128, 128, 128, 0.253);
      }
      h2 {
        font-weight: bolder;
        font-size: 0.9em;
        color: #fff;
      }
      .grayTxt {
        color: #6e767d !important;
      }
      .line {
        position: absolute;
        bottom: 0;
        width: 40%;
        border-radius: 4px;
        height: 3px;
        background: #1da1f2;
      }
    }
  }
}
/*** **/
@media (max-width: 450px) {
  .tweetTypes {
    margin-top: 1em;
  }
}

.overlay {
  width: 100%;
  position: fixed;
  background: #3d4a55d3;
  //background-color: rgba(0, 0, 0, 0.75);
  // background: rgba(133, 100, 100, 0.452);
  z-index: 5;
  width: 100%;
  height: 100vh;
  transition: 0.6s ease-in-out;
}

@media (max-width: 550px) {
  .header,
  .headerPro {
    width: 100%;
  }
}
