.container {
  //width: 100%;
  //margin-left: 25%;
  //background: cornsilk;
  //background: rgba(128, 128, 128, 0.301);
  height: auto;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  position: relative;
}
