@import '../../variables';
@import '../../mixins';

.container {
  padding: 1em 1em;
  border-bottom: 1px solid #2f3336;
  position: relative;
  .infoBox {
    position: absolute;
    bottom: -3em;
    z-index: 4;
    left: 15%;
    padding: 1em; // width: 25%;
    @include flexRegular(row, center);
    align-items: center;
    background: $blueBtn;
    color: #fff;
  }
  /*** **/
  @media (max-width: 450px) {
    .infoBox {
      left: 0;
      font-size: 0.85em;
    }
  }
  .content {
    //background: bisque;
    @include flexRegular(row, flex-start);
    align-items: flex-start;
    color: #fff;
    .left {
      margin-right: 0.5em;
      img {
        //width: 100%;
        object-fit: cover;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        transition: 0.17s ease-in;
      }
    }
    /*** **/
    @media (max-width: 450px) {
      .left {
        margin-right: 0.3em;
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
    .right {
      //   background: lavender;
      padding: 0 0.3em;
      width: 100%;
      .rightTop {
        @include flexRegular(row, space-between);
        align-items: center;
        img {
          cursor: pointer;
        }
        .rightTitles {
          @include flexRegular(row, flex-start);
          p {
            margin-right: 0.4em;
          }
          .handle {
            color: rgba(151, 150, 150, 0.767);
            font-size: 0.94em;
          }
          .time {
            color: rgba(151, 150, 150, 0.945);
            font-size: 0.94em;
          }
        }
        /*** **/
        @media (max-width: 450px) {
          .rightTitles {
            .name {
              font-size: 0.9em;
            }
            .handle,
            .time {
              font-size: 0.8em;
            }
          }
        }
        .right2 {
          margin-right: 0.5em;
        }
        .more {
          height: 100%;
          cursor: pointer;
          // background: pink;
          @include flexRegular(column, center);
          align-items: center;
          .moreBox {
            position: absolute;
            z-index: 4;
            background: black;
            padding: 0.2em;
            width: 35%;
            right: 0;
            top: 1em;
            border-radius: 6px;
            border: 1px solid rgba(128, 128, 128, 0.397);
            box-shadow: 1px 0px 7px #ffffff56;
            .moreTop {
              @include flexRegular(row, flex-end);
              align-items: flex-end;
              padding: 0 0.5em;
            }
            .moreItem {
              @include flexRegular(row, flex-start);
              // justify-content: center;
              padding: 0.7em 0.5em 0.7em 1.2em;
              .red {
                color: #ef1c5c;
              }
              img {
                width: 16px;
                height: 16px;
                margin-right: 1em;
              }
              // &:hover {
              //   background: rgba(128, 128, 128, 0.5);
              // }
            }
          }
          /*** **/
          @media (max-width: 450px) {
            .moreBox {
              width: 55%;
            }
          }
        }
      }
      .rightDesc {
        margin-top: 1em;
        img {
          width: 100%;
          margin-top: 1em;
          object-fit: contain;
          border-radius: 20px;
        }
      }
      /*** **/
      @media (max-width: 450px) {
        .rightDesc {
          p {
            font-size: 0.9em;
          }
        }
      }
      .rightBtm {
        margin-top: 1em;
        @include flexRegular(row, flex-start);
        .actions {
          @include flexRegular(row, flex-start);
          width: 95%;
          //background: pink;
          img {
            margin-right: 1em;
            cursor: pointer;
            width: 20px;
            height: 20px;
            transition: 0.3s ease-in;
            &:focus {
              transform: scale(1.4);
            }
          }
          p {
            color: #536471;
            font-size: 0.9em;
          }
          .red {
            color: #ef1c5c;
          }
          .green {
            color: #0cb245;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  // .infoBox {
  //   left: -400px;
  //   padding: 1em;
  //   width: 100%;
  //   @include flexRegular(row, flex-start);
  //   align-items: flex-start;
  //   font-size: 20.7em;
  //   background: red;
  //   color: green;
  // }
  // .content {
  //   @include flexRegular(row, flex-start);
  //   align-items: flex-start;
  //   color: #fff;
  //   .left {
  //     margin-right: 0.5em;
  //     img {
  //       //width: 100%;
  //       width: 5px;
  //       height: 35px;
  //     }
  //   }
  // .right {
  //   //   background: lavender;
  //   padding: 0 0.3em;
  //   width: 100%;
  //   .rightTop {
  //     //background: rgba(128, 128, 128, 0.493);
  //     @include flexRegular(row, space-between);
  //     align-items: center;
  //     img {
  //       cursor: pointer;
  //     }
  //     .rightTitles {
  //       @include flexRegular(row, flex-start);
  //       p {
  //         margin-right: 0.4em;
  //       }
  //       .handle {
  //         color: rgba(151, 150, 150, 0.767);
  //         font-size: 0.94em;
  //       }
  //       .time {
  //         color: rgba(151, 150, 150, 0.945);
  //         font-size: 0.94em;
  //       }
  //     }
  //     .right2 {
  //       margin-right: 0.5em;
  //     }
  //     .more {
  //       height: 100%;
  //       cursor: pointer;
  //       // background: pink;
  //       @include flexRegular(column, center);
  //       align-items: center;
  //       .moreBox {
  //         position: absolute;
  //         z-index: 4;
  //         background: black;
  //         padding: 0.2em;
  //         width: 35%;
  //         right: 0;
  //         top: 1em;
  //         border-radius: 6px;
  //         border: 1px solid rgba(128, 128, 128, 0.397);
  //         box-shadow: 1px 0px 7px #ffffff56;
  //         .moreTop {
  //           @include flexRegular(row, flex-end);
  //           align-items: flex-end;
  //           padding: 0 0.5em;
  //         }

  //         .moreItem {
  //           @include flexRegular(row, flex-start);
  //           // justify-content: center;
  //           padding: 0.7em 0.5em 0.7em 1.2em;
  //           .red {
  //             color: #ef1c5c;
  //           }
  //           img {
  //             width: 16px;
  //             height: 16px;
  //             margin-right: 1em;
  //           }
  //           // &:hover {
  //           //   background: rgba(128, 128, 128, 0.5);
  //           // }
  //         }
  //       }
  //     }
  //   }
  //   .rightDesc {
  //     margin-top: 1em;
  //     img {
  //       width: 100%;
  //       margin-top: 1em;
  //       object-fit: contain;
  //       border-radius: 20px;
  //     }
  //   }
  //   .rightBtm {
  //     margin-top: 1em;
  //     @include flexRegular(row, flex-start);

  //     .actions {
  //       @include flexRegular(row, flex-start);
  //       width: 95%;
  //       //background: pink;
  //       img {
  //         margin-right: 1em;
  //         cursor: pointer;
  //         width: 20px;
  //         height: 20px;
  //         transition: 0.3s ease-in;
  //         &:focus {
  //           transform: scale(1.4);
  //         }
  //       }
  //       p {
  //         color: #536471;
  //         font-size: 0.9em;
  //       }
  //       .red {
  //         color: #ef1c5c;
  //       }
  //       .green {
  //         color: #0cb245;
  //       }
  //     }
  //   }
  // }
  //}
}
