@import '../../variables';
@import '../../mixins';

.modal {
  position: fixed;
  top: 5vh;
  height: 90vh;
  left: 32.5vw;
  right: 32.5vw;
  width: 35vw;

  //background: #575555;
  background: black;
  //padding: 0rem 1rem 1rem 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 5;
  @include flexRegular(column, flex-start);
  align-items: center;
  transition: 0.3s ease-in;
}
@media (max-width: 1280px) {
  .modal {
    left: 25vw;
    right: 25vw;
    width: 50vw;
  }
}

.modalContent {
  width: 100%;
  overflow-y: auto;
  padding: 0.5em 0;
}
.modalTop {
  @include flexRegular(row, space-between);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: black;
  padding: 0.6em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  .topLeft {
    @include flexRegular(row, flex-start);
    .closeCircle {
      cursor: pointer;
      background: none;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      @include flexRegular(row, center);
      align-items: center;
      transition: 0.3s ease-in;
      &:hover {
        background: rgba(128, 128, 128, 0.507);
        transition: 0.3s ease-in;
      }
      padding: 0.2em;
      margin-right: 3em;
      img {
        width: 80%;
      }
    }
    h2 {
      color: #fff;
      font-size: 1.2em;
    }
  }
  .topRight {
    button {
      @include buttonRegular(#fff, 80px, 32px);
      color: black;
      border: none;
      font-size: 0.9em;
      font-weight: bolder;
      //   margin: 2em 0;
      &:hover {
        @include buttonRegular(rgb(202, 201, 201), 80px, 32px);
        color: black;
      }
      &:disabled {
        background: gray;
        cursor: not-allowed;
      }
    }
  }
}
.modalBody {
  position: relative;

  .coverImgBox {
    margin-top: 0.8em;
    height: 270px;
    background: gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
  .aviBox {
    position: absolute;
    top: 220px;
    left: 1em;
    width: 150px;
    height: 150px;
    .avatar {
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      transition: 0.17s ease-in;
    }
    .aviOverlay {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 0;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.39);
      @include flexRegular(row, center);
      align-items: center;
      .cam {
        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    input {
      position: absolute;
      z-index: 2;
      opacity: 0;
      top: 0;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: rgb(73, 71, 72);
      @include flexRegular(row, center);
      align-items: center;
      cursor: pointer;
    }
  }
  .modalForm {
    margin: 9em 0 2em 0;
    padding: 0 1.5em;

    //background: red;
  }
  @media (max-width: 480px) {
    .modalForm {
      margin: 7em 0 3em 0;
    }
  }
}

.errMsg {
  color: #d41d28;
  position: absolute;
  text-align: center;
  width: 90%;
  bottom: 30px;
  transition: 0.3s ease-in;
}
.successMsg {
  color: #1da1f2;
  position: absolute;
  text-align: center;
  font-weight: bolder;
  width: 90%;
  bottom: 30px;
  transition: 0.3s ease-in;
}

@media (max-width: 1080px) {
  .modal {
    width: 70vw;
    left: 15vw;
    right: 15vw;
    //height: 70vh;
  }
  .modalForm {
    .formLinks {
      width: 100%;
    }
  }
  .closeBox {
    margin-top: 0px;
    padding-left: 1em;
  }
}
@media (max-width: 480px) {
  .modal {
    height: 100vh;
    top: 0;
    width: 100vw;
    left: 0vw;
    right: 0vw;
    padding: 1rem 0;
  }
  .topRight {
    button {
      margin-top: 0.5em;
    }
  }
  .modalBody {
    .aviBox {
      .avatar,
      .aviOverlay,
      input {
        width: 120px;
        height: 120px;
      }
    }
  }

  .modalForm {
    .doubleInputs {
      @include flexRegular(column, flex-start);
      //margin-top: -25px;
      .diOne {
        width: 100%;
      }
      .diOne:nth-child(2) {
        margin-top: -35px;
      }
    }
  }
}
@media (min-height: 800px) {
  .modal {
    //height: 95vh;
    top: 5vh;
  }
}
