@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@font-face {
  src: url(./fonts/MonumentExtended-Black.ttf);
  font-family: Monument;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: Roboto;
  background: black;
}
input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 100%;
}
button {
  cursor: pointer;
}
