@import "../../variables";
@import "../../mixins";

.container {
  //background: rgb(216, 136, 136);
  //background: rgb(39, 38, 38);
  height: 100vh;
  padding: 1em 1em 1em 1em;

  //position: fixed;
  //right: 0;
  // margin-left: 50%;
  width: 373px;
}
@media (min-width: 1300px) {
  // .container{
  //     right: 160px;
  // }
}
.searchBx {
  top: 0;
  background: rgb(8, 8, 8);
  //background: pink;
  padding: 1em 0;
  position: fixed;
  width: 80%;
  height: 70px;
}
.search {
  // background: rgb(42, 42, 41);
  //background: #000;
  width: 29%;
  //width: 100vw;
  position: fixed;
  color: #fff;
  //top: 0;
  //position: relative;
  input {
    width: 100%;
    height: 46px;
    color: #fff;
    border-radius: 31px;
    border: 1px solid rgba(128, 128, 128, 0.192);
    background: rgba(128, 128, 128, 0.151);
    padding: 0 0 0 4em;
    font-size: 0.9em;
    outline: none;
    transition: 0.2s ease-in;
    &:focus {
      border: 1px solid #1d9bf0;
      transition: 0.2s ease-in;
    }
  }
  img {
    position: absolute;
    top: 0.7em;
    left: 1em;
    width: 20px;
    height: 20px;
  }
}
.results {
  background: black;
  border-radius: 15px;
  padding: 0.5em 0 1em 0;
  margin-top: 3.5em;
  position: fixed;
  height: 90vh;
  overflow-x: auto;
  //border-radius: 6px;
  border-top: 0;
  width: 29%;
  border: 1px solid rgba(128, 128, 128, 0.397);
  .resultSingle {
    // background: gray;
    @include flexRegular(row, flex-start);
    padding: 1em 2em;
    transition: 0.3s ease-in;
    &:hover {
      background: rgba(128, 128, 128, 0.322);
      cursor: pointer;
      transition: 0.3s ease-in;
    }
    .imgB {
      //   margin-right: 2em;
      img {
        object-fit: cover;
        width: 40px;
        height: 40px;
        margin-right: 1em;
        border-radius: 50%;
      }
    }
    .userInfo {
      h3 {
        font-size: 1.05em;
        color: #fff;
      }
      p {
        color: #6e767d;
      }
    }
  }
}
@media (min-width: 1300px) {
  .search,
  .results {
    width: 24%;
  }
}
@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
